﻿<div>
    <p-dataTable [value]="vehicles" selectionMode="single" [(selection)]="selectedVehicle" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [responsive]="true">
        <p-header>Vehicle list</p-header>
        <p-column field="id" header="ID" [sortable]="true"></p-column>
        <p-column field="longitude" header="Longitude" [sortable]="true"></p-column>
        <p-column field="latitude" header="Latitude" [sortable]="true"></p-column>
        <p-column field="vehiclename" header="Vehicle Name" [sortable]="true"></p-column>
    </p-dataTable>
    <p-dialog header="Vehicle Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="vehicle">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="id">ID</label></div>
                <div class="ui-grid-col-8"><input pInputText id="id" [(ngModel)]="vehicle.id" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="longitude">Longitude</label></div>
                <div class="ui-grid-col-8"><input pInputText id="longitude" [(ngModel)]="vehicle.longitude" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="latitude">Latitude</label></div>
                <div class="ui-grid-col-8"><input pInputText id="latitude" [(ngModel)]="vehicle.latitude" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="vehiclename">Vehicle Name</label></div>
                <div class="ui-grid-col-8"><input pInputText id="vehiclename" [(ngModel)]="vehicle.vehiclename" /></div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>
